* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px;
}

.fruit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    margin: 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.fruit-button {
    display: flex;
    margin-left: 20px;
}

.fruit-button button {
    padding: 0 5px;
}

.fruit-button span {
    margin: 0 5px;
}

.reset-button {
    width: 300px;
    padding: 10px;
}

h3 {
    padding: 20px 0;
}

.form-section {
    background-color: darkslategrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 0 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;

    border: 1px solid white;
}

form > div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    max-width: 250px;
    min-width: 200px;
    flex-basis: auto;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

select {
    margin-left: 10px;
    max-width: 150px;
    flex-basis: auto;
}

textarea {
    max-width: 350px;
    flex-basis: auto;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

select {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}